@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

:root {
    --sidebar: #363740;
    --sidebarText: #a4a6b3;
    --bodyBackground: #f7f8fc;
    --cardBackground: #fff;
    --mainColor: #252733;
    --mainIcons: #c5c7cd;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    min-height: 100vh;
    font-family: "mulish", sans-serif;
    background-color: var(--bodyBackground);
    display: grid;
    grid-template-columns: clamp(220px, 25%, 280px) 1fr;
}

.sidebar {
    grid-column-start: 1;
    background-color: var(--sidebar);
    color: var(--sidebarText);
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    max-height: 100vh;
    min-height: min-content;
    transition: .3 ease-in;
    /* padding-top: 0.35rem; */
}

.close {
    display: none;
    font-size: 1.5em;
    position: absolute;
    top: 1.3em;
    left: 10em;
    transition: .2s;
}

.logo-container {
    padding: 1.6rem 1.25rem 1.75rem 1.25rem;
    /* padding-bottom: 1.75rem; */
}

.logo-container img {
    cursor: pointer;
    transition: .2s;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.sidebar-links li {
    display: flex;
    align-items: center;
    padding: 1.1rem;
    transition: .2s;
    cursor: pointer;
}

.sidebar-links li:hover {
    background: #3e4049;
    color: #dde2ff;
    border-left: 4px solid #dde2ff;
    /* padding-left: calc(1.1rem - 4px); */
}

.sidebar li:hover>i,
.close:hover {
    color: #dde2ff;
}

.sidebar-links ul:nth-child(2) {
    margin-bottom: .75rem;
}

li i {
    color: #60626e;
    margin-right: 1.25rem;
    margin-left: 0.75rem;
    min-width: 25px;
    transition: .2s;
}

main {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: repeat(8, 1fr);
    padding: 0 1.5rem 1.5rem;
    /* padding: 1.5rem; */
    max-height: 100%;
}

.header {
    padding: 1.2rem 0;
    grid-column: 1/ 9;
    display: grid;
    grid-template-columns: 3fr 300px;
    /* grid-row: 1; */
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--sidebarText);
    /* padding: 0.25rem 1.25rem; */
    grid-column-start: 2;
}

.header h1 {
    display: flex;
    align-items: center;
    font-size: 1.45rem;
    color: var(--mainColor);
    /* margin-top: auto;
    margin-bottom: auto; */
}

.user img {
    width: 48px;
    height: auto;
    cursor: pointer;
    transition: .2s;
    /* border: 2px solid #dfe0eb; */
    /* border-radius: 50%; */
}

.name {
    color: var(--mainColor);
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

.icons {
    color: var(--mainIcons);
    transform: scale(1.1);
    border-right: 2px solid #dfe0eb;
    margin-right: 1.75rem;
}

.icons i {
    padding-right: 25px;
    cursor: pointer;
    transition: .2s;
}

.icons i:hover,
.user img:hover,
.name:hover,
.logo-container img:hover,
.krabby-patty:hover,
.close:hover {
    transform: scale(1.1);
}

.info-cards {
    grid-column: 1/ 9;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    column-gap: 1.5rem;
    row-gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.info-card {
    border: 2px solid #dfe0eb;
    border-radius: 0.5rem;
    background: #fff;
    text-align: center;
    font-weight: bold;
    padding: 1.5rem 0;
}

.info-card>p:first-child {
    color: #9fa2b4;
    font-size: 1.1rem;
}

.info-card>p:last-child {
    font-size: 2.25rem;
    padding-top: 0.75rem;
    color: #252733;
}

.trends-container {
    grid-column: 1/9;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-radius: 0.5rem;
}

.trends {
    grid-column: 1 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid #dfe0eb;
    border-right: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: var(--cardBackground);
}

.trend-title {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.trends img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.data-container {
    grid-column: 6/9;
    background: var(--cardBackground);
    border: 2px solid #dfe0eb;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.data-item {
    padding: 1rem;
    text-align: center;
    font-weight: 600;
    border-bottom: 2px solid #dfe0eb;
}

.data-item:last-child {
    border-bottom: none;
}


.data-item>p:first-child {
    font-size: 1rem;
    color: #9fa2b4;
    margin-bottom: 0.5rem;
}

.data-item>p:last-child {
    font-size: 1.5rem;
    color: #252733;
    font-weight: bold;
}

.lg-cards {
    grid-column: 1/9;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.lg-card {
    border: 1.65px solid #dfe0eb;
    border-radius: 0.5rem;
    background: #fff;
    font-weight: bold;
    padding-bottom: 0.3rem;
}

.card-header {
    padding: 1.65rem 1.75rem 1.25rem;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title>h2 {
    color: #252733;
    font-size: 1.15rem;
}

.card-title>a {
    color: #3751ff;
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
    transition: transform 0.25s ease-in-out;
}

.card-header>p {
    font-size: 0.75rem;
    font-weight: 400;
    color: #9fa2b4;
    margin-top: 0.5rem;
}

.card-header span {
    color: #252733;
}

.card-header~div {
    border-bottom: 2px solid #dfe0eb;
    /* width: calc(100% + 2px); */
    transform: translateX(-1px);
    font-size: 0.875rem;
    font-weight: 600;
    color: #252733;
    max-height: 3.5rem;
    padding: 1.15rem 1.75rem;
    display: flex;
    justify-content: space-between;
}

.card-header~div:last-child {
    border: none;
}

.krabby-patty {
    display: none;
    position: absolute;
    left: 1.5rem;
    top: 1.8rem;
    cursor: pointer;
    font-size: 1.5em;
    transition: .2s;
}

@media (max-width: 1080px) {
    .info-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .lg-cards {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 920px) {
    .trends-container {
        grid-template-columns: 1fr;
    }

    .trends {
        border: 2px solid #dfe0eb;
        border-radius: 0.5rem;
        border-radius: 0.5rem;
    }

    .data-container {
        grid-column: 1 / -1;
        border-radius: 0.5rem;
        margin-top: 1.5rem;
    }
}

@media (max-width: 740px),
(max-height: 650px) {

    .header h1 {
        padding-left: 2rem;
    }

    .sidebar {
        display: none;
        overflow: auto;
    }

    .close {
        display: block;
    }

    body {
        grid-template-columns: 1fr;
    }

    .krabby-patty {
        display: block;
    }

    .active {
        display: flex;
        position: fixed;
        z-index: 1;
        height: 100%;
        width: 280px;
    }
}

@media (max-width: 530px) {
    .header {
        grid-template-columns: 3fr auto;
    }

    .user {
        gap: 1.6rem;
    }

    .icons {
        display: none;
    }
}

@media (max-height: 650px) {

    .sidebar {
        overflow: auto;
    }

    .sidebar-links {
        gap: 1.5rem;
    }
}